*{
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    font-family: "Lato" sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
main{
    display: flex;    
}
.logo{
    position: absolute;
    left: 84px;
    top: 40px;
    bottom: 0%;
}
.input_text1{
    position: absolute;
    background-color: #BCF5A9;
    width: 688px;
    left: 50px;
    top: 168px;
    text-align: center;
    margin-top: 90px;
    border-radius: 32px;    
}
.mu{
    position: absolute;
    width: 276px;
    height: 250px;
}
.botones{
    flex-direction: column;   
    border-radius: 15%;
    flex-direction: column;
    margin-top: 16px;
    border-color: blueviolet;
}
.boton1{
    position: absolute;
    width: 328px;
    height: 67px;
    left: 50px;
    top: 550px;
    line-height: 19px;
    text-align: center;
}
.boton2{
    width: 328px;
    height: 67px;
    position: absolute;
    top: 550px;
    left: 420px;
}
.copiar{
    position: absolute;
    width: 328px;
    height: 67px;
    top: 550px;
    left:955px;
}
.input_text2{    
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 530px;
    text-align: center;
    left:820px;
    margin-top: 20px;
    margin-left: 90px;
    background-color: #CEF6F5;
    box-shadow: 10px 24px 32px -8px rgba(5, 0, 20, 0.08);
    border-radius: 32px;
}
footer{
    position: absolute;
    top: 617px;
    color: blue;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}